<div class="contents row">
  <%= form_for(@post) do |f| %>
    <h3>
      投稿する
    </h3>

  <%= f.fields_for :menus do |i| %>
    <div class="field">
    <%= i.label :種目名 %><br>
    <%= i.select :training_type, Menu.training_types.keys %>
    <%= i.text_field :count, placeholder: '回数' %>
    <%= i.hidden_field :user_id, :value => current_user.id %>
  </div>
  <% end %>
  <%= f.text_area :title, placeholder: 'コメント' %>
  <%= f.submit "投稿する",name:"commit" %>
  <% end %>
</div>
